.cabinetBox{
  padding: 10px;
  margin: 3px;
  width: 250px;
  min-height: 100px;
  border: 3px outset #A64B00;
  color: #A64B00;
}

.armsBox{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
  padding: 5px;
}

.arm{
  width: 20px;
  height: 20px;
  text-align: center;
  color:#A64B00;
  border: 3px outset #A64B00;
  cursor: pointer;
}

.pres{
  background-color: #5CCCCC;
} 

.popap{
  display: none;
  position: absolute;
  border: 3px outset rgb(129, 90, 55);
  padding: 5px;
  background-color: #fefefe;
  margin-top: 37px;
}

.active{
  display: block;  
}

 