.worker{
  display: grid;
  grid-template-columns: 45% 45% 10%;
  background-color: #FFB273;
  margin: 5px;
  padding: 10px;
  /*border-radius: 5px;*/
}

.worker:hover{
  /*border-radius: 30px;*/
  background-color: #FF9640;
}

.worker_name{
  color: brown;
  font-size: larger;
  padding: 0 10px 0 10px;
}

.worker_position{
  color:#006363;
  font-size: larger;
  padding: 0 10px 0 10px;
}