.cabinet{
  display: grid;
  grid-template-columns: 40% 40% 20%;
  background-color: lightgray;
  margin: 5px;
  padding: 10px;
}

.cabinet:hover{
  background-color: gray;
}

.cabinet_name{
  color: brown;
  font-size: larger;
  padding: 0 10px 0 10px;
}

.cabinet_address{
  color:#3f4e3f;
  font-size: larger;
  padding: 0 10px 0 10px;
  cursor: pointer;
}