.head {
  font-size: larger;
  font-weight: bold;
  color: gray;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 45% 30% 25%;
  grid-gap: 10px;
  border-bottom: 1px solid saddlebrown;
}

.period {
  margin: 5px;
  padding: 5px;
}