.buttonsBar{
  padding: 3px;
  text-align: right;
}

.buttonsBar button{
  font-weight: bold;
  padding: 3px 5px;
  border: 3px outset #A64B00;
  /*background-color: #5CCCCC;*/
  transition: all 300ms ease;
  cursor: pointer;
  position: relative;
  color: #A64B00;
  display: inline-block;
}
   
.buttonsBar button:before{
  position: absolute;
  content: '';
  width: 0%; height: 100%;
  /*background: #FF7400;*/
  color: #006363;
  top: 0; left: 50%;
  transition: all 0ms ease;
}

.buttonsBar button:hover{
  color: #006363;
}

.buttonsBar button:hover:before{
  position: absolute;
  /*content: '';*/
  width: 100%; height: 100%;
  background: rgba(255, 178, 115, 0.5);
  color: #006363;
  top: 0; left: 0%;
  transition: all 300ms ease;
}

