.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 49, 49, 0.3);
  display: block;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 25%;
}

.loader{
  height: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 4s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}