.App {
  text-align: justify;
}

.App_logo {
  height: 48px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App_logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App_header {
  background-color: #A64B00;
  display: flex;
  align-items: left;
  font-size: 16pt;
  color: #5CCCCC;
}

.App_header p{
  margin-top: 10px;
}

.App_link {
  color: #5CCCCC;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
