.pagination {
  margin: 1em;
}

.selectCountRecord {
  color:  #A64B00;
  border-color: #A64B00;
  margin: 1px;
}

.pageButton {
  float: none;
  color:  #A64B00;
  padding: 3px;
  margin: 3px;
  border-radius: 2px;
}

.pageButton:hover {
  cursor: pointer;
  border-top: solid 1px  #A64B00;
}

.active {
  font-weight: bold;
  border-bottom: solid 3px  #A64B00;
}

.button {
  float: none;
  color:  #A64B00;
  margin: 1px;
  border-color: #A64B00;
}

.total {
  padding: 5px;
  margin: 0 5px 0 5px;
  font-weight: bold;
  background-color: #5CCCCC;
  border-radius: 5px;
}