.linkbar{
  margin: 10px 20px 10px 20px;
  width: 100%;
}

.linkbar a{
  padding: 5px;
  border-radius: 5px;
  margin: 0 10px 0 10px;
  color: #5CCCCC;
  text-decoration-line: none;
  white-space: pre;
}

.linkbar a:hover {
  background-color: #FFB273;
  color: #006363;
}

.active{
  color: #009999 !important;
}

.right{
  float: right;
}