.dropMenuBox{
  margin: 10px 20px 10px 20px;

}

.dropMenuBox span, .dropMenuBox a{
  padding: 5px;
  border-radius: 5px;
  margin: 0 10px 0 10px;
  color: #5CCCCC;
  text-decoration-line: none;
  white-space: pre;
  cursor: pointer;
}

.dropMenuBox span:hover, .dropMenuBox a:hover {
  background-color: #FFB273;
  color: #006363;
}

.submenu {
  position: absolute;
  right: 5px;
  margin-top: 5px;
  display: none;
  background-color: #A64B00;
  list-style: none;
  padding: 0 0 5px 0;
  border-radius: 3px;
  z-index: 1000;
}

.show {
  display: block;
}