.login_block {
  display: block;
  margin: 10em auto auto calc(50% - 25%);
  width: 50%;
  background-color: #282c34;
  color: white;
  padding: 20px;
  border: 5px outset gray;
}

.inputIteam {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 10px 5px;
}

.buttonIteam {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2rem;
}

.buttonIn {
  float: right;
}