.graphic{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: lightgray;
  margin: 5px;
  padding: 10px;
}

.graphic:hover{
  background-color: gray;
}

.graphic_name{
  color: brown;
  font-size: larger;
  padding: 0 10px 0 10px;
}